/* GENERAL */
:root {
  --color-gray: gray;
  --border-md: 2px solid var(--color-gray);
  --space-md: 16px;
  --space-sm: 10px;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  margin: 0;
}
/* GENERAL END */

/* LAYOUT */
.chat-layout {
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-layout-controls {
  border: var(--border-md);
  padding: var(--space-md);
}

.chat-layout-content {
  margin-top: var(--space-md);
  border: var(--border-md);
  padding: var(--space-md);
  display: flex;
  gap: var(--space-md);
  flex-grow: 1;
}

.chat-layout-main {
  border: var(--border-md);
  padding: var(--space-md);
  flex-grow: 1;
}

.chat-layout-aside {
  border: var(--border-md);
  padding: var(--space-md);
  flex-basis: 300px;
}
/* LAYOUT END */

/* CHAT CONTROLS START */
.chat-controls {
  display: flex;
  gap: var(--space-md);
}

.chat-controls-btn {
  background-color: transparent;
  border: 2px solid blue;
  padding: 5px;
  cursor: pointer;
}

.chat-controls-btn.is-active {
  background-color: blue;
  color: orange;
}

/* CHAT CONTROLS END */

/* CHAT START DISCUSSION MODAL */

.chat-start-discussion-modal {
  border: var(--border-md);
  padding: var(--space-md);
  background-color: gray;

  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
}

.chat-start-discussion-modal-close-btn {
  background-color: transparent;
  border: 2px solid red;
  padding: 5px;
  cursor: pointer;
}

.chat-start-discussion-modal-close-btn:hover {
  background-color: red;
  color: white;
}

/* CHAT START DISCUSSION MODAL END */

/* CHAT DISCUSSION LIST START */

.chat-discussion-list-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-discussion-list-item {
  margin-bottom: var(--space-md);
}

.chat-discussion-list-item-btn {
  width: 100%;
  border: 1px solid var(--color-gray);
  padding: var(--space-sm);
  cursor: pointer;
}

.chat-discussion-list-item-btn:hover {
  background-color: blue;
  color: white;
}

.chat-discussion-list-item-btn.is-active {
  background-color: blue;
  color: white;
}

/* CHAT DISCUSSION LIST END */
